<h2>Selamat Datang di InfoPolisi.org</h2>
<p>InfoPolisi.org merupakan sebuah website yang didedikasukan khusus untuk Kepolisian Republik Indonesia, fungsi utama dari InfoPolisi.org adalah sebagai website permintaan informasi publik kepada sektor Kepolisian. Tujuan utama adalah untuk membuat masyarakat lebih mudah untuk dapat melakukan permintaan informasi publik. Website ini juga mempermudah pihak Kepolisian Republik Indonesia untuk dengan mudah menjawab permintaan sama yang lebih dari satu kali.</p>
<p>InfoPolisi.org akan berkontribusi untuk membuat Kepolisian Republik Indonesia lebih transparan, akuntabel, dan mempromosikan partisipasi masyarakat dalam pengambilan kebijakan.</p>
<p>Jika Anda ingin terlibat di program InfoPolisi.org, contoh sebagai sukarelawan atau pendukung, <%= link_to "kontak kami", help_contact_url %>.</p>
